
.random img:hover {
    transform: scale(1.02);
    transition: transform 0.3s ease;
}
figure img{
    height: 200px;
    width: 300px;
}
figure{
    text-align: center;
}
.props{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

.btns{
    text-align: center;
    display: flex;
    justify-content: space-between;
    justify-content: space-around;

    gap: 10px;
}
.btns button{
    text-align: center;
    padding: 15px;
    border-radius: 10px;
}
.more{
    text-align: center;
}
.more button{
    padding: 10px;
    margin-top: 15px;
    border-radius: 5px;
}
.random{
    /* display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center; */
}
.random img{
    height: 300px;
    width: 350px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
}
.spotlight-card{
    display: grid;
    grid-template-areas: 
    "image"
    "heading"
    "text"
    ;
}
.spotlight-card img{
    grid-area: image;
    
}
.spotlight-card p{
    grid-area: text;
    
}
.spotlight-card h2{
    grid-area: heading;
    
}
.click
{
    display: flex;
    justify-content: space-between;
    justify-content: space-around;
    flex-wrap: wrap;
}
.click img{
    height: 200px;
    width: 350px;
}
.pre{
    text-align: center;
}
.pre img{
    padding: 5px;
}
.zra {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}
.lien {
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
    text-decoration: none;
    text-transform: capitalize;
}
.lien a {
    text-decoration: none;
    color: white;
}
.lien a:hover{
    text-decoration: overline;
}
.copy{
    display: flex;
    justify-content: space-around;
    /* justify-content: space-between; */
}

footer{
    padding: 30px;
    background-color: #2c3e50;
    color: white;
}

/* 
@media (max-width: 768px) {
    
    
} */

@media only screen and (max-width: 600px) {
    .spotlight-card{
        /* display: grid; */
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "heading"
        "image text"
        "image text"
        "image text";
    }
}


@media only screen and (min-width:1024px) {
    .spotlight-card{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "image heading image heading"
        "image text image text"
        "image text image text"
        "image text image text";
    }
}
