body
{
   
}


#cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    

}

#cards img{
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
    margin-bottom: 50px;
    

}



