*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0;
}
:root
{
    --primary-color1: #2E5A88;
    --primary-color2: #87CEEB ;
    --secondary-color1: #333333;
    --secondary-color2:#FF6F61;
    --back-color-color2:#F5F5F5 ;
}
body{
    background-color: whitesmoke;
    font-family: Oswald, Roboto, Georgia;
}
h1 {
    font-size: 60px;
}

h1 {

    margin: 0px;
}

h2 {
    
    font-size: 24px;
    font-family: PT Sans;
}
h3{
    font-size: 20px;
}


header {
    display: block;
    unicode-bidi: isolate;
    background-color: var(--primary-color1);
    color: var(--back-color-color2);
}

.header-top {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
}

.intro {
    display: flex;
    flex-direction: column;
}

.header-top-left {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}


.header-top-right {
    display: flex;
    justify-content: space-around;
    align-items: end;
    padding-right: 20px;
    gap: 10px;
    align-items: center;
}

.menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 1rem;
    justify-content: end;
}
/* .view{
    height:75px;
    width: 75px;
} */

.menu a {
    text-decoration: none;
    text-transform: capitalize;
    color: var(--back-color-color2);
}
.menu a:hover{
    text-decoration: underline;
    
}


.menu a.active {
    font-weight: bold;
    border-radius: 5px;
}

nav {
    list-style: none;
    margin: 0;
    padding: 0;

}
nav button{
    display: none;
}
#comps{
    margin: 30px;
}

.toggle-view{
    text-align: center; 
    background-color: var(--primary-color2);
    padding: 30px;
    margin-bottom: 20px;
}
.toggle-view button{
    margin-right: 12px;
    padding: 10px;
}

/* Grid View */
#comps.grid-view {

    margin: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1rem;
    align-items: center;
    
}
.cards{
    margin: 0;
    padding: 15px; 
    border: 1px solid #ccc; 
    background-color: var(--primary-color2); 
    text-align: center; 
    border-radius: 10px;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

#comps.list-view .cards img {
    display: none;
    
}

#comps.list-view .cards {
   display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    margin: 0;
    padding: 0.25rem;
    align-items: end;
    padding: 15px;

}
#comps.list-view .cards h2{
   font-size: 20px;
}
#comps.list-view .cards h3
{
    font-size: 17px;
}
#comps.list-view .cards:nth-child(even) a{
    color: whitesmoke;
}
#comps.list-view .cards:nth-child(even) {
    background-color: var(--secondary-color1);
    padding: 15px;
    color: whitesmoke;
}



#comps.grid-view {
    margin: 0; 
    padding: 10px; 
    text-align: center; 
}

.cards img {
    width: auto ;
    height: 250px; 
   

    border-radius: 5px;
}

.container
{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 20px;
    padding: 20px;
    text-align: center;
    margin-left: 40px;
   

}
.container h2{
    margin-bottom: 10px;
    color: var(--secondary-color1);
    background-color: var(--primary-color1);
    padding: 10px;
    
}
ul{
    text-align: left;
   
}
.container section{
    background-color: var(--primary-color2);
    border-radius: 10px;
    padding: 5px;
}
picture  img{
    object-fit: cover;
    height: 600px;
    width: 100%;
}



.over-lay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: auto;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: bolder;
    font-size: 50px;
    background-color: var(--primary-color2);
    padding: 10px;
}
.over-lay:hover{
    background-color: var(--back-color-color2);
}

.spotlight-card{
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
    background-color: var(--primary-color2);
    border-radius: 10px;
    padding: 15px;

}
.spotlight-card img {
    border-radius: 5px;
}
.spotlight-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    text-align: center;
    margin: 50px;
    

}
.spotlight-container img {
    height: 100px;
}


footer{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: var(--primary-color1);
    color:var(--back-color-color2);
}
footer a{
    margin-right: 35px;
    color: var(--back-color-color2);
    text-decoration: none;
}
footer img{
    height: 48px;
    width: 48px;
}
footer p{
    margin-top: 5px;
}

