

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0;
}
:root
{
    --primary-color1: #2E5A88;
    --primary-color2: #87CEEB ;
    --secondary-color1: #333333;
    --secondary-color2:#FF6F61;
    --back-color-color2:#F5F5F5 ;
}
body{
    background-color: whitesmoke;
    font-family: Oswald, Roboto, Georgia;
}
h1 {
    font-size: 60px;
}

h1 {

    margin: 0px;
}

h2 {
    
    font-size: 24px;
    font-family: PT Sans;
}
h3{
    font-size: 20px;
}


header {
    display: block;
    unicode-bidi: isolate;
    background-color: var(--primary-color1);
    color: var(--back-color-color2);
}

.header-top {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
}

.intro {
    display: flex;
    flex-direction: column;
}

.header-top-left {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}


.header-top-right {
    display: flex;
    justify-content: space-around;
    align-items: end;
    padding-right: 20px;
    gap: 10px;
    align-items: center;
}

.menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 1rem;
    justify-content: end;
}
/* .view{
    height:75px;
    width: 75px;
} */

.menu a {
    text-decoration: none;
    text-transform: capitalize;
    color: var(--back-color-color2);
}
.menu a:hover{
    text-decoration: underline;
    
}


.menu a.active {
    font-weight: bold;
    border-radius: 5px;
}

nav {
    list-style: none;
    margin: 0;
    padding: 0;

}
nav button{
    display: none;
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

main{
    display: flex;
    justify-content: center;
    gap: 200px;
    margin-bottom: 30px;
    margin-top: 20px;
    
    
}
/* form label{
    display: block;
}
form div{
   margin-top: 15px;
} 
form input{
    border-left: 4px solid black;
    border-radius: 3px;
    height: 30px;
    width: 250px;
    
} */



form {
    margin: 1rem 2%;
  
    label {
      display: block;
      font-size: .8rem;
      color: purple;
      padding-top: .2rem;
    }
    h3 {
      font-size: .9rem;
      color: #E07A5F;
      margin: 1.5rem 0 .2rem 0;
      border-bottom: 1px solid #eee;
    }
  
    input[type=text],
    input[type=tel],
    input[type=date],
    input[type=email],
    select {
      display: block;
      margin: .1rem 0 1rem 0 ;
      padding: .3rem;
      border: 1px solid #999;
      border-radius: 4px;
      border-left-width: 5px;
      border-left-color:#555;
      font-size: 1rem;
      color: #3D405B;
      width: 250px;
    }
    textarea{
      display: block;
      margin: .1rem 0 1rem 0 ;
      padding: .3rem;
      border: 1px solid #999;
      border-radius: 4px;
      border-left-width: 5px;
      border-left-color:#555;
      font-size: 1rem;
      color: #3D405B;
      width: 250px;

    }
  
    input:required {border-left-color: var(--secondary-color2);}
    input:focus {border-left-color: black; outline:none;}
    input:required:valid{border-left-color: var(--primary-color1);}
  
    input[type=submit] {
      border: none;
      text-align: center;
      background-color: #3D405B;
      color: white;
      border-radius: 1rem;
      padding: .75rem 1.5rem;
      margin: 2rem 0;
      font-size: 1.2rem;
      -webkit-appearance: none;
      appearance: none;
    }
  }
  input:-webkit-autofill{
    -webkit-text-fill-color: #3D405B;
  }
  
  #results {
    background-color: #F4F1DE;
    padding: 0 1rem;
    border: 1px solid #E07A5F;
    border-radius: 6px;
  }




.grades button{
    margin-top: 10px;
    padding: 8px;
    border-radius: 20px;
}
.grades{
    text-align: center;
}
section{
    margin-top: 15px;
    background-color: var(--primary-color2);
    padding: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}


footer{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: var(--primary-color1);
    color:var(--back-color-color2);
}
footer a{
    margin-right: 35px;
    color: var(--back-color-color2);
    text-decoration: none;
}
footer img{
    height: 48px;
    width: 48px;
}
footer p{
    margin-top: 5px;
}




     
