@media only screen and (max-width: 700px)
{
     header button{
        display: contents;
        font-size: 30px;
        color: whitesmoke;
       
    }
    nav a{
        display: none;
    }

    nav
    {
        display: flex;
        flex-direction: column;
        text-align: center;
    } 
    nav.active {
        display: flex; 
    }
    
    nav.active a {
    display: block; 
    }

   
     .container
    {
        display: block;
    } 
    ul{
        display: contents;
        margin-bottom: 20px;
        color: #dad7cd;
    }

    .control
    {
        display: flex;
        gap: 10px;
    }
    .head
    {
        margin-top: 10px;
        
    }
   
    #cards
    {
        display: block;
        
    }
     .uno
     {
        display: flex;
        justify-content: space-around;
        
     }
     
}